@charset "utf-8";
/* CSS Document */

.pozadina{
	background-image: url("slike/pozadina.jpg");
	background-attachment: fixed;
	background-size: 50%;
	text-align: center;
	padding-top: 40px;
	font-family: "GODOFWAR";
	font-size: 25px;
	line-height: 30px;

}

.navigi{
	margin-top: 70px;
	text-align: left;
	padding-left: 50px;
	background-color: rgba (255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
	width: 50%;
	font-size: 18px;
	line-height: 22px;
}

nav ul{
	display: flex;
	gap: 50px;
}

@font-face {
	font-family: "GODOFWAR";
	src: url("dokument/GODOFWAR.TTF");
}

