@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "GODOFWAR";
	src: url("dokument/GODOFWAR.TTF");
}

body {
    font-family: "GODOFWAR", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #F5F5DC;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #B22222;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #333;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav li:hover {
	color: #007bff
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

main {
    padding: 20px;
    max-width: 800px;
	display: block;
	gap: 20px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    flex-wrap: wrap;
}

main img {
    width: 300px;
	object-fit: contain;
}

img {
    display: block;
    margin: 10px auto;
}

.drugapozadina{
	background-image: url("slike/drugapozadina.jpeg");

}

